$my-header-color: red;
$precious: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRQygKc_ZHNOsOSaJLwumRhXns885jUvYJshMD9cZ0OISqnFeUC');

h1 {
    color: $my-header-color;
}

.movie-card-image {
    width: 80%;
}

body {

background-image: $precious;
}
