{{#if uid}}

<div class="row">
  <h3>Movie History > <span class="bread-target"></span></h3>
  <a class="waves-effect waves-light btn active selected" id="untracked-button">Show Untracked</a>
  <a class="waves-effect waves-light btn" id="unwatched-button">Show Unwatched</a>
  <a class="waves-effect waves-light btn" id="watched-button">Show Watched</a>
  <span class="r_value" id="r_value">0</span>
  <input id="val" class="val" type="range" min="0" max="10" value="0">
{{!--   <a class="waves-effect waves-light btn" id="favorites-button">Favorites</a> --}}
</div>

<section>
  <div class="row">
      <div id="initialSearchOutput"></div>
  </div>
</section>

{{else}}

<div class="row">
  <div class="col-md-offset-3 col-md-8">
    <h2>LOGIN TO SEARCH AND SAVE MOVIES!</h2>
  </div>
</div>

{{/if}}
