<div class="panel panel-primary col-md-4 movie-card">
    <div class="panel-heading">
        <h3 class="title">{{title}}</h3>
    </div>
    <div class="panel-body">
        <h4 lass="year col-md-2">{{year}}</h2>
        <img class="movie-card-image" src="{{posterURL}}">
  </div>
  <div class="panel-footer">
    <button type="button" class="saveButton btn btn-primary" uid={{uid}}>Save This Movie</button>
  </div>
</div>
